streamlit==1.48.1
opencv-python-headless<4.10
ultralytics==8.3.185
numpy
Pillow
reportlab
lap

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

tqdm
pandas
altair
